$primary: mat-palette($mat-blue, 700, 100, 900);
$accent: mat-palette($mat-green, A700, 300, 900);
$warn: mat-palette($mat-red, 700, 100, 900);

$newTheme: mat-light-theme(
    $primary,
    $accent,
    $warn
);